---
import { Icon } from 'astro-icon/components'
import Container from '@components/Container/Container'
---

<header class="header">
  <Container>
    <div class="header__logo" data-cursor-inverse>
      <Icon name="logo" />
    </div>
  </Container>
</header>
