---
---

<section class="square-effect">
  <div class="square-effect__items">

  </div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="gooeyCursor_svg"
    version="1.1"
  >
    <filter class="gooeyCursor_filter" id="gooey">
      <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="7">
      </feGaussianBlur>
      <feColorMatrix
        in="blur"
        mode="matrix"
        result="gooey"
        values="
    1 0 0 0 0
    0 1 0 0 0
    0 0 1 0 0
    0 0 0 20 -7"
      ></feColorMatrix>
      <feMorphology in="gooey" operator="dilate" radius="2" result="outline"
      ></feMorphology>
      <feComposite in="outline" in2="gooey" operator="out" result="composite"
      ></feComposite>
    </filter></svg
  >
</section>
